body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  padding-top: 120px;
  padding-bottom: 60px;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #0dcaf0;
  object-fit: cover;
}

.skill-card {
  background: #111827;
  color: white;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.skill-card:hover {
  background: #0dcaf0;
  color: black;
  transform: translateY(-5px);
}

.project-card {
  background: #020617;
  border-left: 5px solid #0dcaf0;
  color: white;
}
.about-card {
  background: #020617;
  border-left: 5px solid #0dcaf0;
  border-radius: 15px;
  line-height: 1.8;
}
.footer {
  background: #020617;
  padding: 40px 0 20px;
  margin-top: 80px;
  color: #d1d5db;
}

.footer-title {
  color: #0dcaf0;
  margin-bottom: 15px;
}

.footer-text {
  margin: 6px 0;
}

.footer-text a {
  color: #d1d5db;
  text-decoration: none;
}

.footer-text a:hover {
  color: #0dcaf0;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  margin: 0 10px;
  color: #0dcaf0;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  margin-top: 20px;
  font-size: 13px;
  color: #9ca3af;
}
