/* GLOBAL */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

/* HERO */
.hero {
  padding-top: 140px;   /* navbar spacing */
  padding-bottom: 90px;
}

/* HERO IMAGE (LEFT) */
.hero-profile-img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #0dcaf0;
}

/* HERO TEXT */
.hero-desc {
  max-width: 520px;
  line-height: 1.7;
  color: #d1d5db;
}

/* SKILLS */
.skill-card {
  background: #111827;
  color: white;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.skill-card:hover {
  background: #0dcaf0;
  color: black;
  transform: translateY(-5px);
}

/* PROJECTS */
.project-card {
  background: #020617;
  border-left: 5px solid #0dcaf0;
  color: #e5e7eb;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

/* ABOUT */
.about-card {
  background: #020617;
  border-left: 5px solid #0dcaf0;
  border-radius: 15px;
  line-height: 1.8;
}

.about-card p {
  color: #e5e7eb; /* brighter text */
  font-size: 16px;
}

.about-card strong {
  color: #ffffff;
}

/* FOOTER */
.footer {
  background: #020617;
  padding: 40px 0 20px;
  margin-top: 80px;
  color: #d1d5db;
}

.footer-title {
  color: #0dcaf0;
  margin-bottom: 15px;
}

.footer-text {
  margin: 6px 0;
}

.footer-text a {
  color: #d1d5db;
  text-decoration: none;
}

.footer-text a:hover {
  color: #0dcaf0;
}

.footer-links {
  margin: 15px 0;
}

.footer-links a {
  margin: 0 10px;
  color: #0dcaf0;
  text-decoration: none;
  font-weight: 500;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  margin-top: 20px;
  font-size: 13px;
  color: #9ca3af;
}
