.hero-section {
  padding-top: 120px;
  padding-bottom: 60px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #0dcaf0;
  object-fit: cover;
}

.skill-card {
  background: #1e293b;
  color: white;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  background: #0dcaf0;
  color: black;
}

.project-card {
  background: #111827;
  border-left: 5px solid #0dcaf0;
  color: white;
}
