body {
  font-family: 'Segoe UI', sans-serif;
}

.hero {
  padding-top: 120px;
  padding-bottom: 60px;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid #0dcaf0;
  object-fit: cover;
}

.skill-card {
  background: #111827;
  color: white;
  padding: 25px;
  text-align: center;
  border-radius: 15px;
  font-weight: 600;
  transition: 0.3s;
}

.skill-card:hover {
  background: #0dcaf0;
  color: black;
  transform: translateY(-5px);
}

.project-card {
  background: #020617;
  border-left: 5px solid #0dcaf0;
  color: white;
}
